[submodule "assets/dados-espaciais-json"]
	path = assets/overlays
	url = https://github.com/prefeiturasp/dados-espaciais-json
[submodule "assets/fonts/material-design-iconic-font"]
	path = assets/fonts/material-design-iconic-font
	url = https://github.com/zavoloklom/material-design-iconic-font.git
[submodule "assets/icons/maki"]
	path = assets/icons/maki
	url = https://github.com/mapbox/maki.git
