/* Regras para o layout básico */

#container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#content {
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
}

#header {
  height: 48px;
  width:100%;
  flex: none; /* Para evitar que o header diminua */
  background: #13988a;
}

#text-broken-route {
  display: none;
}

#broken-route-confirm-button {
  display: none;
}

#map-wrapper {
  position: relative;
  flex: 1;
}

#map {
  min-width: 80%;
  height: calc(100vh - 48px);
  /*height: 93vh;*/
  flex: 1;
}

#button-wrapper {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 3px solid #cfdcec;
  overflow:hidden;
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
  text-align: center;
}

.round-button a {

  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
}

#location-button {
  margin: 15px;
}

/* Para conseguir ter cores e propriedades diferentes
   DENTRO dos botões sem ter que criar mais ids... */
#location-button div {
  background-color: #fff;
}

#location-button div:active {
  background-color: #E6E3E3;
}

#botao-rota div {
  border: 0px solid #CFDCEC;
}

#botao-rota div:active {
  background:#30588e;
}

#menu {
  background: none repeat scroll 0% 0% #637c89;
  width: 20%;
  flex-direction: column;
  float: left;
  min-height: calc(100vh - 48px);
  overflow: auto;
  /*height: 93vh;*/
}

/*
#botao-menu {
  font-size: 6.5vh;
  vertical-align: inherit;
}
*/

/* Agora os Media Queries todos */
@media (max-width: 992px) {
/*@media all and (orientation:portrait) {*/
  #menu {
    display: none;
    width: 100%;
  }
  #map-wrapper {
    width: 100%;
  }

}


