html,
body {
  margin: 0px;
  height: 100%;
}

.header {
  height: 50px;
}

body {
  display: flex;
  flex-flow: column wrap;
}

.body {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

/*#content {
  flex: 1 1;
  display: flex;
}*/

#map {
  flex: 1;
  min-width: 75%;
}
#menu {
  background: none repeat scroll 0% 0% #191818;
  /*position: fixed;*/
  /*top: 0px;*/
  /*bottom: 0px;*/
  /*overflow: auto;*/
  width: 25%;
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
#menu a,label {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}
