/* Regras para o layout básico */

#container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#content {
  flex-direction: row;
  flex-wrap: nowrap;
}

#header {
  height: 48px;
  width:100%;
  flex: none; /* Para evitar que o header diminua */
  background: #13988a;
}

#map {
  min-width: 75%;
  height: calc(100vh - 48px);
  /*height: 93vh;*/
}

#menu {
  background: none repeat scroll 0% 0% #637c89;
  width: 25%;
  flex-direction: column;
  float: left;
  height: calc(100vh - 48px);
  /*height: 93vh;*/
}

/*
#botao-menu {
  font-size: 6.5vh;
  vertical-align: inherit;
}
*/

/* Agora os Media Queries todos */
@media (max-width: 992px) {
/*@media all and (orientation:portrait) {*/
  #menu {
    width: 100%;
  }
  #map {
    display: none;
  }

}


